security.protocol=SASL_SSL
ssl.truststore.location=config/certs/truststore/kafka.truststore.jks
ssl.truststore.password=Passw0rd123
sasl.mechanism=SCRAM-SHA-256
ssl.endpoint.identification.algorithm=
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username=admin password=Passw0rd123;
